#contact {
  min-height: 90vh;
  height: 100%;
}

.contactTextTitle {
  border-right: aliceblue solid;
  animation: slideFadeIn 1s;
  -webkit-animation: slideFadeIn 1s;
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  to {
    opacity: 1;
    filter: blur(0);
    -webkit-filter: blur(0);
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}