#portfolio {
  margin: 5vh 0 10vh 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.portfolioTitle {
  color: aliceblue;
  border-bottom: 2px solid aliceblue;
  font-size: 4vh;
  padding-bottom: 1vh;
  text-align: center;
  margin: 0 5vw 0 5vw;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}