header {
  border-bottom: 0.2rem solid #ffffff1c;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.navLinks {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.navLinks > p {
  padding: 0 1% 0 1%;
}

.navLinks > a {
  color: aliceblue;
  padding: 0 1% 0 1%;
  text-decoration: none;
}

.navIcons {
  display: flex;
  align-items: center;
  padding: 0 0.5% 0 0.5%;
  filter: invert();
  -webkit-filter: invert();
}

@media (max-width: 480px) {

  header{
    margin-top: 3rem;
    margin-bottom: 10rem;
  }

  nav {
    color: aliceblue;
    display: block;
    text-align: center;
    padding-bottom: 1rem;
  }

  .navLinks {
    width: 100%;
    display: block;
    text-align: center;
  }

  .navLinks > p {
    font-size: 1.5em;
    padding-bottom: 5px;
    border-bottom: 2px solid aliceblue;
  }

  .navLinks > a {
    padding: 0 1% 0 1%;
    text-decoration: none;
  }

  .navIcons {
    display: none;
  }
}
