#aboutMe {
  margin-top: 10vh;
  color: aliceblue;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  gap: 10%;
  margin-left: 1vw;
  margin-right: 1vw;
}

.aboutMeText {
  width: 40%;
}

.aboutMeText > h1 {
  font-size: 4vh;
  padding-bottom: 1vh;
  border-bottom: 2px solid;
}

.aboutMeText > p {
  font-size: 3vh;
}

.aboutMeImg {
  width: 40%;
  display: flex;
  align-self: center;
  border: 5px solid aliceblue;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (max-width:480px){
  #aboutMe {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin: 25% 0 0 0;
  }

  .aboutMeText {
    width: 100%;
    text-align: center;
  }

  .aboutMeText > h1 {
    font-size: 4vh;
    padding-bottom: 1vh;
    border-bottom: 2px solid;
  }

  .aboutMeText > p {
    font-size: 3vh;
  }

  .aboutMeImg {
    width: 50%;
    display: flex;
    align-self: center;
    border: 5px solid aliceblue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}

@media (max-width:960px){}

@media (min-width:1025px){}

@media (max-width:1280px){}
