#aboutMe {
  margin-top: 10vh;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  gap: 10%;
  margin-left: 1vw;
  margin-right: 1vw;
}

.aboutMeText {
  width: 40%;
}

.aboutMeText > h1 {
  font-size: 4vh;
  padding-bottom: 1vh;
  border-bottom: 2px solid;
}

.aboutMeText > p {
  font-size: 3vh;
}

.aboutMeImg {
  width: 40%;
  display: flex;
  align-self: center;
  border: 5px solid aliceblue;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: .5rem .5rem 2px 1px #00000084;
}

.slideFadeIn {
  animation: slideFadeIn 1s;
  -webkit-animation: slideFadeIn 1s;
}

.fadeIn {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  to {
    opacity: 1;
    filter: blur(0);
    -webkit-filter: blur(0);
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

@media (max-width: 480px) {
  #aboutMe {
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .aboutMeText {
    width: 95%;
    text-align: center;
  }

  .aboutMeText > h1 {
    font-size: 4vh;
    padding-bottom: 1vh;
    border-bottom: 2px solid;
  }

  .aboutMeText > p {
    font-size: 2vh;
  }

  .aboutMeImg {
    width: 50%;
    display: flex;
    align-self: center;
    border: 5px solid aliceblue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}

@media (max-width: 960px) {
  #aboutMe {
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .aboutMeText {
    width: 95%;
    text-align: center;
  }

  .aboutMeText > h1 {
    font-size: 4vh;
    padding-bottom: 1vh;
    border-bottom: 2px solid;
  }

  .aboutMeText > p {
    font-size: 2vh;
  }

  .aboutMeImg {
    width: 50%;
    display: flex;
    align-self: center;
    border: 5px solid aliceblue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}

@media (min-width: 1025px) {
}

@media (max-width: 1280px) {
}
