@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #17476d;
  --void: #0E0B16;
  --fuscia: #A239ca;
  --jewel: #4717f6;
  --stark: #e7dfdd;
  --light: #f0f8ff;
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #0e0b16ee;
  color: aliceblue;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 79vh;
  height: 100%;
}

@media (max-width: 480px) {
}

@media (max-width: 960px) {
  main {
    min-height: 85vh;
    height: 100%;
  }
}

@media (min-width: 1025px) {
}

@media (max-width: 1280px) {
}