.mainProjectContainer {
  background-color: #00000044;
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  animation: slideUpFadeIn 1s;
  -webkit-animation: slideUpFadeIn 1s;
}

@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  to {
    opacity: 1;
    filter: blur(0);
    -webkit-filter: blur(0);
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.mainProjectText {
  width: 50%;
  font-size: 2em;
  padding: 0 1% 0 1%;
}

.mainProjectIcons > a:hover {
  filter: drop-shadow(2px 2px 2px #ffffff6b);
  -webkit-filter: drop-shadow(2px 2px 2px #ffffff6b);
}

.mainProjectImage {
  background-size: cover;
  background-position: 50%;
  width: 50%;
  border: 0.25em solid #525252;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

@media (max-width: 480px) {
  .mainProjectContainer {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
  }
  .mainProjectText > h1 {
    font-size: 3rem;
  }
  .sideProjectText > h5 {
    font-size: 1rem;
  }
  .mainProjectText {
    width: 100%;
    font-size: 2em;
    padding: 0 1% 0 1%;
  }

  .mainProjectIcons > a:hover {
    filter: drop-shadow(2px 2px 2px #ffffff6b);
    -webkit-filter: drop-shadow(2px 2px 2px #ffffff6b);
  }

  .mainProjectImage {
    background-size: cover;
    background-position: 50%;
    margin-top: 2rem;
    height: 100%;
    width: 100%;
    border: 0.25em solid #525252;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
}

@media (max-width: 960px) {
  .mainProjectContainer {
    display: flex;
    flex-flow: column nowrap;
  }
  .mainProjectText > h1 {
    font-size: 3rem;
  }
  .sideProjectText > h5 {
    font-size: 1rem;
  }
  .mainProjectText {
    width: 100%;
    font-size: 2em;
    padding: 0 1% 0 1%;
  }

  .mainProjectIcons > a:hover {
    filter: drop-shadow(2px 2px 2px #ffffff6b);
    -webkit-filter: drop-shadow(2px 2px 2px #ffffff6b);
  }

  .mainProjectImage {
    background-size: cover;
    background-position: 50%;
    height: 50%;
    width: 100%;
    border: 0.25em solid #525252;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
}

@media (min-width: 1025px) {
}

@media (max-width: 1280px) {
}
